<div class="flex justify-between items-center mb-8">

  <div>
    <h1 class="text-3xl font-bold text-gray-900">
      Movimientos
    </h1>

    <p class="text-gray-500 mt-2">
      Registra tus gastos e ingresos del día para nutrir tu crecimiento.
    </p>
  </div>

  <div class="flex gap-4">

    <div class="border rounded-xl px-4 py-3 flex items-center gap-2">
      <span class="material-symbols-outlined">
        calendar_today
      </span>

      {{ currentDate }}
    </div>

    <button
      (click)="onOpenModal()"
      class="bg-green-700 hover:bg-green-800 text-white px-5 py-3 rounded-xl flex items-center gap-2 transition">

      <span class="material-symbols-outlined">
        add
      </span>

      Nuevo Movimiento

    </button>

  </div>

</div>
