# mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nombre_de_tu_bd
DB_USER=tu_usuario_db
DB_PASS=tu_contrasena_db

#JWT
JWT_SECRET=tu_jwt_secret_aqui
JWT_EXPIRATION_MS=28800000

# CORS
CORS_ORIGINS=http://localhost:4000,http://localhost:4200