<div class="px-5 py-4 sm:px-6 sm:py-5 border-b border-[#DCE8B5] flex items-start justify-between bg-[#EFF5D3] shrink-0">
    <div>
        <h2 class="text-xl sm:text-2xl font-bold text-[#214523] tracking-tight">{{ title() }}</h2>
        <p class="text-xs sm:text-sm text-[#526655] mt-0.5 font-medium">El sistema calculará tu cuota mensual y nivel de
            endeudamiento automáticamente.</p>
    </div>
    <button type="button" (click)="closeModal.emit()"
        class="text-[#526655] hover:text-[#214523] hover:bg-[#DCE8B5] p-2 rounded-full transition-all cursor-pointer shrink-0 ml-2">
        <app-icon-fin-coach name="close" class="w-5 h-5" />
    </button>
</div>