# Manipulación y análisis de datos
pandas==2.2.2
numpy==1.26.4

# Conectores nativos para MySQL y ORM
mysqlclient==2.2.4
pymysql==1.1.1
sqlalchemy==2.0.30

# Visualización y peticiones
matplotlib==3.8.4
seaborn==0.13.2
requests==2.31.0