# ---- Servidor Web y API ----
fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4

# ---- PyTorch versión ligera para CPU (Reduce peso de 2GB a ~150MB) ----
--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch

# ---- Inteligencia Artificial y Clasificación ----
sentence-transformers==3.0.1
scikit-learn==1.5.0
joblib==1.4.2
numpy==1.26.4
