<div class="space-y-4">

  <div class="bg-white rounded-2xl shadow p-5">
    <p class="text-gray-500 text-sm">Ingresos</p>
    <h2 class="text-2xl font-bold text-green-600">
      S/ {{ totalIncome }}
    </h2>
  </div>

  <div class="bg-white rounded-2xl shadow p-5">
    <p class="text-gray-500 text-sm">Gastos</p>
    <h2 class="text-2xl font-bold text-red-600">
      S/ {{ totalExpense }}
    </h2>
  </div>

  <div class="bg-white rounded-2xl shadow p-5">
    <p class="text-gray-500 text-sm">Balance</p>
    <h2 class="text-2xl font-bold text-blue-600">
      S/ {{ balance }}
    </h2>
  </div>

</div>
