asgiref==3.12.1
attrs==26.1.0
Django==6.0.7
django-jazzmin==3.0.5
djangorestframework==3.17.1
drf-spectacular==0.30.0
inflection==0.5.1
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
narwhals==2.24.0
numpy==2.5.1
pandas==3.0.5
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.3
referencing==0.37.0
rpds-py==2026.6.3
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
uritemplate==4.2.0
